@import "vars";

@font-face{
font-family:"Walbaum";
src:url("../fonts/ae229941-5623-4077-87e9-0963a702be0b.eot?#iefix");
src:url("../fonts/ae229941-5623-4077-87e9-0963a702be0b.eot?#iefix") format("eot"),url("../fonts/71c66bb5-ff28-4874-b74a-d73a2f4ae4f2.woff") format("woff"),url("../fonts/91454371-30bc-4e3e-9b34-dc117c2a62a0.ttf") format("truetype"),url("../fonts/1250e55f-3900-43bb-972d-28f3350e45ce.svg#1250e55f-3900-43bb-972d-28f3350e45ce") format("svg");
font-style: normal;
font-weight: bold;
}
@font-face{
font-family:"Walbaum";
src:url("../fonts/496478a2-156e-43ff-91a8-2b0432496479.eot?#iefix");
src:url("../fonts/496478a2-156e-43ff-91a8-2b0432496479.eot?#iefix") format("eot"),url("../fonts/7af6fecc-d601-4ec9-b966-c46f029900e2.woff") format("woff"),url("../fonts/7684a869-08be-40e0-833a-240adb8141fd.ttf") format("truetype"),url("../fonts/e4da6924-5b01-4a99-b2e9-1f6dfd52bb80.svg#e4da6924-5b01-4a99-b2e9-1f6dfd52bb80") format("svg");

font-style: italic;
font-weight: bold;
}
@font-face{
font-family:"Walbaum";
src:url("../fonts/ab9c299b-d058-4a06-9a26-42cd32b2361b.eot?#iefix");
src:url("../fonts/ab9c299b-d058-4a06-9a26-42cd32b2361b.eot?#iefix") format("eot"),url("../fonts/fd64893d-2598-4522-8c5d-8cc7f473f1e1.woff") format("woff"),url("../fonts/47a0e80a-59b6-461d-8f45-b13608dec0d9.ttf") format("truetype"),url("../fonts/58a8aa62-7ff3-4296-bd7b-2db776484d81.svg#58a8aa62-7ff3-4296-bd7b-2db776484d81") format("svg");
font-style: italic;
font-weight: normal;
}
@font-face{
font-family:"Walbaum";
src:url("../fonts/1542d125-d12c-42f8-9ac1-f76c7df07633.eot?#iefix");
src:url("../fonts/1542d125-d12c-42f8-9ac1-f76c7df07633.eot?#iefix") format("eot"),url("../fonts/60f1c393-14d7-49dd-bf72-c78ebb7191df.woff") format("woff"),url("../fonts/2e1f16df-7bf8-4559-981b-9f45094a9725.ttf") format("truetype"),url("../fonts/a5d06654-4032-4b76-abf5-16309440e6d7.svg#a5d06654-4032-4b76-abf5-16309440e6d7") format("svg");
font-style: normal;
font-weight: normal;
}
@font-face{
font-family:"TradeGothicExt";
src:url("../fonts/558189fc-efd3-4d8f-aa5f-8ddaf391bf47.eot?#iefix");
src:url("../fonts/558189fc-efd3-4d8f-aa5f-8ddaf391bf47.eot?#iefix") format("eot"),url("../fonts/1b99d71c-c066-4ce3-b4af-38dfd9fe3d85.woff") format("woff"),url("../fonts/8fa9ef8a-e824-4c25-a2ae-90b58c98c789.ttf") format("truetype"),url("../fonts/aea6178e-a137-430d-9ebb-265f36bc6380.svg#aea6178e-a137-430d-9ebb-265f36bc6380") format("svg");
font-weight: normal;
font-style: normal;
}
@font-face{
font-family:"TradeGothicExt";
src:url("../fonts/05caf824-53b4-4d9b-ac35-8a6015f654c6.eot?#iefix");
src:url("../fonts/05caf824-53b4-4d9b-ac35-8a6015f654c6.eot?#iefix") format("eot"),url("../fonts/996dd89e-14cc-474b-ab23-4c08626c90af.woff") format("woff"),url("../fonts/61c477f8-fef9-4faa-a464-e5b4096672c4.ttf") format("truetype"),url("../fonts/e02253cf-f0ca-49e8-bc36-38ef6e2b9812.svg#e02253cf-f0ca-49e8-bc36-38ef6e2b9812") format("svg");
font-weight: bold;
font-style: normal;
}
